body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f4e3;
    background-image: url("contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header {
    background-color: #6e4b1a;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav {
    background-color: #8c6239;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    color: #bdbe4e;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
footer {
    background-color: #6e4b1a;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   
    }
a {
    color: #6e4b1a;
    text-decoration: none;
    }
a:hover {
    text-decoration: underline;
    color: #97991a;
    }
div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}
div.container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}
div.container form input,
div.container form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
div.container form button {
    padding: 10px;
    background-color: #6e4b1a;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.contenedor {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;      /* vertical */
    height: auto;            /* ocupa toda la pantalla */
}
.img-centro {
    max-width: auto; /* opcional: ajuste del tamaño */
}
section {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer {
    background-color: rgb(114, 88, 16);
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}